<form action="/auth/cadastro/register" method="POST">
    <input type="text" name="nome" placeholder="digite seu nome">
    <input type="email" name="email" placeholder="digite seu e-mail">
    <input type="password" name="password" placeholder="digite sua senha">
    <button type="submit">Cadastrar</button>
</form>

<a href="/auth/login">Logar</a>