<form action="/auth/login/logged" method="POST">
    <input type="email" name="email" placeholder="digite seu e-mail">
    <input type="password" name="password" placeholder="digite sua senha">
    <button type="submit">Logar</button>
</form>

<a href="/auth/cadastro">Cadastrar</a>